$def with (mensaje,response)
<div>
    $for producto in response:
        <form method="post">
            <label for="nombre2">Producto:</label>
            <input type="text" id="nombre2" name="nombre2"required value="${producto['nombre']}">
            <br>
            <label for="descripcion2">Descripción:</label>
            <input type="text" id="descripcion2" name="descripcion2"required value="${producto['descripcion']}">
            <br>
            <label for="precio2">Precio:</label>
            <input type="number" id="precio2" name="precio2"required value="${producto['precio']}">
            <br>
            <label for="existencias2">Existencias:</label>
            <input type="number" id="existencias2" name="existencias2" required value="${producto['existencias']}">
            <br>
            <input type="submit" value="Insertar">
        </form>
    <p>$mensaje</p>
    <a href="javascript:history.back()">Volver atrás</a>
</div>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Existencias</th>
        </tr>
        $for producto in response:
            <tr>
                <td>$producto['id']</td> <!-- Incluimos el parámetro de consulta id en el enlace -->
                <td>$producto['nombre']</td>
                <td>$producto['descripcion']</td>
                <td>$producto['precio']</td>
                <td>$producto['existencias']</td>
            </tr>
    </table>
    <a href="javascript:history.back()">Volver atrás</a>
    

</div>