$def with (response)
<div style="display: flex; justify-content: center; padding-bottom: 20px;"><h1>Detalles de Producto</h1></div>
<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Existencias</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
    $for producto in response:
        <tr>
            <td scope="row">$producto['id']</td> <!-- Utilizamos el ID del producto actual -->
            <td>$producto['nombre']</td>
            <td>$producto['descripcion']</td>
            <td>$producto['precio']</td>
            <td>$producto['existencias']</td>
            <td><img src="/static/images/${producto['imagen_nombre']}${producto['imagen_extension']}" alt="Imagen del producto" style="max-width: 250px; max-height: 250px;"></td>
        </tr>
    </tbody>

</table>
<div style="display: flex; justify-content: center;">
    <a href="/"><button class="btn btn-primary">Volver al Menu</button></a>
</div>
