$def with (mensaje)
<div style="display: flex; justify-content: center; padding-bottom: 20px;"><h1>Insertar Producto</h1></div>

<link rel="stylesheet" type="text/css" href="/static/css/buscar.css">
<script src="/static/js/validacion.js"></script>


<div class="form_productos">
    <form method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <div class="mb-3">
            <label for="nombre">Producto:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br>
        </div>
        <div class="mb-3">
            <label for="descripcion">Descripcion:</label>
            <input type="text" id="descripcion" name="descripcion">
            <br>
        </div>
        <div class="mb-3">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio">
            <br>
        </div>
        <div class="mb-3">
            <label for="existencias">Existencias:</label>
            <input type="number" id="existencias" name="existencias">
            <br>
        </div>
        <div class="mb-3">
            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen">
            <br>
        </div>
        <div class="form_button">
            <button type="submit" class="btn btn-primary" value="Insertar">Insertar</button>
        </div>
    </form>
</div>
<p>$mensaje</p>

<div style="display: flex; justify-content: center;">
    <a href="/"><button class="btn btn-primary">Volver</button></a>
</div>
