$def with (productos, page)
<div style="display: flex; justify-content: center; padding-bottom: 20px;"><h1>Listar Producto</h1></div>

<div style="display: flex; justify-content: center; padding-bottom: 10px;">
    <a href="?page=${page-1 if page>1 else 1}"><button class="btn btn-primary">Anterior</button></a>
    <div style="width: 300px; display: flex; justify-content: center;align-items: center;">
        <p>Pagina $page</p>
    </div>
    <a href="?page=${page+1}"><button class="btn btn-primary">Siguiente</button></a>
</div>


<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Existencias</th>
            <th scope="col">Imagen</th> <!-- Nueva columna para la imagen -->
            <th scope="col">Opciones</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
    $for producto in productos:
        <tr>
            <td scope="row"><a href="/detalle?id=${producto['id_encoded']}">${producto['id']}</a></td>
            <td>${producto['nombre']}</td>
            <td>${producto['descripcion']}</td>
            <td>${producto['precio']}</td>
            <td>${producto['existencias']}</td>
            <td><img src="/static/images/${producto['imagen_nombre']}${producto['imagen_extension']}" alt="Imagen del producto" style="max-width: 100px; max-height: 100px;"></td>
            <td><a href="/actualizar?id=${producto['id_encoded']}"><button class="btn btn-warning">Actualizar</button></a></td>
            <td><a href="/borrar?id=${producto['id_encoded']}"><button class="btn btn-danger">Borrar</button></a></td>
        </tr>
    </tbody>
</table>

    <div style="display: flex; justify-content: center; padding-bottom: 10px;">
        <a href="?page=${page-1 if page>1 else 1}"><button class="btn btn-primary">Anterior</button></a>
        <div style="width: 300px; display: flex; justify-content: center;align-items: center;">
            <p>Pagina $page</p>
        </div>
        <a href="?page=${page+1}"><button class="btn btn-primary">Siguiente</button></a>
    </div>
    <div style="display: flex; justify-content: center;">
        <a href="/"><button class="btn btn-primary">Volver al Menu</button></a>
    </div>

