$def with (response)

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Existencias</th>
        <th>Opciones</th>
    </tr>
    $for producto in response:
        <tr>
            <td><a href="/detalle?id=${producto['id']}">$producto['id']</a></td> <!-- Utilizamos el ID del producto actual -->
            <td>$producto['nombre']</td>
            <td>$producto['descripcion']</td>
            <td>$producto['precio']</td>
            <td>$producto['existencias']</td>
            <td><a href="/actualizar?id=${producto['id']}"><button>Hola</button></a></td>
        </tr>
</table>
