.body_container{
    background-color: white;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    
    font-size: 6px;
}
  
.content{
    display: flex;
    justify-content: center;
    background-color: white;
   
    padding-top: 10px;
    padding-bottom: 20px;
}