.body_container{
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    
    font-size: 18px;
}
  
.content{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
   
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}

.sticky-bottom{
    background-color: black;
    color: white;
}